[run]
source = .
omit =
    */tests/*
    */test_*
    */__pycache__/*
    */venv/*
    */.venv/*
    */env/*
    */instance/*
    */migrations/*
    bootstrap.py

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
